
main {
    max-width: 1440px;
    margin: auto;
   
}

.titulo {
    margin: 81px 0 95px 82px;
}

.titulo h1{
    font-weight: 700;
    font-size: 60px;
    color: #FF4081;
    margin: 0;
}

.titulo h2{
    font-weight: 400;
    font-size: 20px;    
    color: #555555;
    margin: 0;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    
}

.texto p{
    max-width: 724px;
    font-weight: 300;
    font-size: 18px;    
    color: #000000;
    margin: 37px 0 53px 53px;
    
}

.texto h3{
    margin-left: 53px;
    font-weight: 700;
    font-size: 35px;
    color: #FF4081;

}

.texto a {
    max-width: 233px;
    max-height: 51px;
    margin-left: 53px;    
    padding: 14px 40px;
    text-decoration: none;    
    font-weight: 400;
    font-size: 20px;    
    text-align: center;
    color: #FFFFFF;
    background: #419488;
    border-radius: 62px;
}


.linhas{
    width: 100%;
    margin: 68px 0 108px 0px;
}

.margem{
    margin-bottom: 202px;
}

@media only screen and (max-width: 769px) {

    .container {
        width: 720px;
        
        
    }
    

@media only screen and (max-width: 481px) {

    .container {
        width: 460px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
       
    }
    .fotos{
        display: flex;
        justify-content: center;
        align-content: center;
    }
   .texto h3{
    margin-left: 5px;
    text-align: center;
   }

   .texto a {
       display: flex;
       align-items: center;
       justify-content: center;
   }
    .texto p{
    
        max-width: 724px;
        font-weight: 300;
        font-size: 18px;
        color: #000000;
        margin: 37px 0 53px 45px;
    }

    header h2 {
        margin: 10px 0;
    }
}