*{
    max-width: 1440px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39px;
}
.section1 h1 {
    width: 488px;
    height: 216px;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    margin: 242px 0px 0px 0px;
    color: #FF4081; 
    

}

.section1  p{    
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #555555;
    width: 462px;
    margin: 19px 0px 38px 0px;
    
}

.section1 a{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 38px 0px 0px 0px;
    width: 268px;
    height: 51px;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #FF4081;
    border: 2px solid #FF4081;
    box-sizing: border-box;
    border-radius: 62px;
    text-decoration: none;
}

.banner{
   margin-top: 252px;   
   
    
}

.section2{
    display: flex;
    justify-content: center;    
    gap: 50px;
    padding-top: 87.5px;
    margin: 87.5px;
    background: #F7F7F7;
}

.section2 div > img{
    width: auto;
    height: 270px; 
    
    
}

.section2 div{
    width: 350px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.section2 h4 {    
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;

}

.section2 p{   
    width: 293px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    
}

.section2 a{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #FF4081;
    border-radius: 62px;
    text-decoration: none;
    margin-bottom: 117px;
    
   
}

.section3 article{
    display: flex;
    flex-wrap: wrap;       
   
    
    
}

.section3 article img{    
    margin: 0 28px 86px 128px;

 
}

.section3 h4{
    font-weight: 700;
    font-size: 37px;    
    color: #009688;   
    margin: 119px 0px 78px 128px;      

}


.section3 article p{    
    width: 363px;    
    font-weight: 300;
    font-size: 18px;    
    color: #000000;
    margin: 0 0 10.31px 0;    
    
    


}

.section3 article span{
    font-weight: 400;
    font-size: 18px;    
    color: #000000;
      
    
}

.section3 div{
    width: 363px;
    
}


.section4 h5{
    font-weight: 700;
    font-size: 37px;
    color: #009688;
    margin: 91px 0 73px 128px;
}

.section4 article{
    display: flex;
    justify-content: space-evenly;

    
}


.section4 h4{
    color: #009688;
    font-weight: 700;
    font-size: 27px;
    margin: 11px 0 0 0;
}

.section4 p{
    font-weight: 400;
    font-size: 18px;  
    width: 319px;
    height: 114px;  
    margin: 0 0 101px 0;

    
}


.section5 a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 25px;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    width: 289px;
    Height: 51px;
    margin: 101px 569px 53px 582px;
    text-decoration: none;
}
